# MongoDB

## Rodar a imagem

Obs.: Execute em outro terminal

In [ ]:
docker login
docker run -d -p 27017:27017 --name m1 mongo
# docker container run --detach --publish 8081:27017 --name mongo mongo:3.4

## Instalar pacote

In [1]:
!pip install pymongo

Looking in indexes: https://pypi.org/simple, https://pypi.ngc.nvidia.com
Collecting pymongo
  Downloading pymongo-4.3.3-cp38-cp38-macosx_10_9_x86_64.whl (381 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 381.9/381.9 kB 6.2 MB/s eta 0:00:00a 0:00:01
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 7.8 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.3.3

## Uso

In [1]:
import pymongo

# Criando conexão e collections
client = pymongo.MongoClient("mongodb://localhost:27017/")
db = client["customersdb"] # Cliente
customers = db["customers"] # Coluna do collections

In [2]:
customers_list = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

## Insert

In [3]:
x = customers.insert_many(customers_list)

In [4]:
# print list of the _id values of the inserted documents:
print(x.inserted_ids)

[ObjectId('6436b9e7aaabfdcc91bb9a3e'), ObjectId('6436b9e7aaabfdcc91bb9a3f'), ObjectId('6436b9e7aaabfdcc91bb9a40'), ObjectId('6436b9e7aaabfdcc91bb9a41'), ObjectId('6436b9e7aaabfdcc91bb9a42'), ObjectId('6436b9e7aaabfdcc91bb9a43'), ObjectId('6436b9e7aaabfdcc91bb9a44'), ObjectId('6436b9e7aaabfdcc91bb9a45'), ObjectId('6436b9e7aaabfdcc91bb9a46'), ObjectId('6436b9e7aaabfdcc91bb9a47'), ObjectId('6436b9e7aaabfdcc91bb9a48'), ObjectId('6436b9e7aaabfdcc91bb9a49')]

## Find

In [5]:
for x in customers.find():
    print(x)

{'_id': ObjectId('6436b9e7aaabfdcc91bb9a3e'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a3f'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a40'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a41'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a42'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a43'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a44'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a45'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a46'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a47'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a48'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a49'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [6]:
# Selecionar na coluna
for x in customers.find({},{"name": 1}):
    print(x)

{'_id': ObjectId('6436b9e7aaabfdcc91bb9a3e'), 'name': 'Amy'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a3f'), 'name': 'Hannah'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a40'), 'name': 'Michael'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a41'), 'name': 'Sandy'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a42'), 'name': 'Betty'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a43'), 'name': 'Richard'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a44'), 'name': 'Susan'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a45'), 'name': 'Vicky'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a46'), 'name': 'Ben'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a47'), 'name': 'William'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a48'), 'name': 'Chuck'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a49'), 'name': 'Viola'}

## Query

In [7]:
myquery = {"address": "Park Lane 38"}

mydoc = customers.find(myquery)

for x in mydoc:
    print(x)

{'_id': ObjectId('6436b9e7aaabfdcc91bb9a46'), 'name': 'Ben', 'address': 'Park Lane 38'}

## Sort

In [8]:
# Ascendente coluna name
mydoc = customers.find().sort("name")

for x in mydoc:
    print(x)

{'_id': ObjectId('6436b9e7aaabfdcc91bb9a3e'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a46'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a42'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a48'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a3f'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a40'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a43'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a41'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a44'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a45'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a49'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a47'), 'name': 'William', 'address': 'Central st 954'}

In [9]:
# Ascendente coluna address
mydoc = customers.find().sort("address")

for x in mydoc:
    print(x)

{'_id': ObjectId('6436b9e7aaabfdcc91bb9a3e'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a47'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a42'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a48'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a3f'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a41'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a44'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a46'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a49'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a43'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a40'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a45'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}

In [10]:
# Descendente coluna name
mydoc = customers.find().sort("name", -1)

for x in mydoc:
    print(x)

{'_id': ObjectId('6436b9e7aaabfdcc91bb9a47'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a49'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a45'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a44'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a41'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a43'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a40'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a3f'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a48'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a42'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a46'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a3e'), 'name': 'Amy', 'address': 'Apple st 652'}

## Update

In [11]:
myquery = { "address": "Valley 345" }
newvalues = { "$set": { "address": "Canyon 123" } }

customers.update_one(myquery, newvalues)

#print "customers" after the update:
for x in customers.find():
  print(x)

{'_id': ObjectId('6436b9e7aaabfdcc91bb9a3e'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a3f'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a40'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a41'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a42'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a43'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a44'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a45'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a46'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a47'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a48'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a49'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [13]:
# Limit
myresult = customers.find().limit(5)

#print the result:
for x in myresult:
  print(x)

{'_id': ObjectId('6436b9e7aaabfdcc91bb9a3e'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a3f'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a40'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a41'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a42'), 'name': 'Betty', 'address': 'Green Grass 1'}

## Delete

In [14]:
# Valor especificado, um documento
myquery = { "address": "Mountain 21" }

x = customers.delete_one(myquery)

In [15]:
print(x.deleted_count, " documents deleted.")

1  documents deleted.

In [16]:
mydoc = customers.find().sort("name", 1)

for x in mydoc:
    print(x)

{'_id': ObjectId('6436b9e7aaabfdcc91bb9a3e'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a46'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a42'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a48'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a40'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a43'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a41'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a44'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a45'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a49'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a47'), 'name': 'William', 'address': 'Central st 954'}

In [17]:
# Delete multiplos, no caso iniciados com 'S'

myquery = { "address": {"$regex": "^S"} }

x = customers.delete_many(myquery)

print(x.deleted_count, " documents deleted.")

2  documents deleted.

In [18]:
mydoc = customers.find().sort("name", 1)

for x in mydoc:
    print(x)

{'_id': ObjectId('6436b9e7aaabfdcc91bb9a3e'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a46'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a42'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a48'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a40'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a41'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a44'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a45'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6436b9e7aaabfdcc91bb9a47'), 'name': 'William', 'address': 'Central st 954'}

In [19]:
# Deletar tudo

x = customers.delete_many({})

print(x.deleted_count, " documents deleted.")

9  documents deleted.

In [20]:
mydoc = customers.find().sort("name", 1)

for x in mydoc:
    print(x)

## Drop Collection

In [21]:
customers.drop()

mydoc = customers.find().sort("name", 1)

for x in mydoc:
    print(x)

## Unique index

db.collection.createIndex( <key and index type specification>, { unique: true }

In [62]:
info = db["info"] # Coluna do collections
info.create_index( [("Username", pymongo.TEXT), ("Email", pymongo.ASCENDING)],unique=True)

'Username_text_Email_1'

In [63]:
# Listar collections
db.list_collection_names()

['info', 'members']

In [64]:
mydict = { "Username": "userA","Email": "emailA@example.com"}
info.insert_one(mydict)

In [65]:
mydict = { "Username": "userB","Email": "emailA@example.com"}
info.insert_one(mydict)

In [66]:
mydoc = info.find().sort("Username", 1)

for x in mydoc:
    print(x)

{'_id': ObjectId('6436bd01aaabfdcc91bb9a5a'), 'Username': 'userA', 'Email': 'emailA@example.com'}
{'_id': ObjectId('6436bd02aaabfdcc91bb9a5b'), 'Username': 'userB', 'Email': 'emailA@example.com'}

In [67]:
mydict = { "Username": "userA","Email": "emailA@example.com"}
try:
    info.insert_one(mydict)
except pymongo.errors.DuplicateKeyError:
    print('Chave duplicada')

Chave duplicada

In [68]:
# drop collection
info.drop()